@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body{
    font-family:'Roboto', sans-serif;;
    /* background-color: #1f2937; */
    height: 100%;
    margin: 0;
}
.barra{
    display:flex;
    justify-content: space-between;
    background-color: #1f2937;
    color:#e5e7eb;
    min-height: 100%;
}
.links{
    margin: 50px; 
}
a:link { text-decoration: none; }

span{
    display:block;
    float: bottom;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}
.hero-text{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: #1f2937;
    margin-bottom: 20px;
    margin-right: 40px;
}
.hero-sign{
    display: inline;
    background-color: #3882f6;
    max-width: 150px;
    border-radius: 10px;
    height: 40px;
}
.hero-logo{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 40px;
}
.second-section{
    /* background-color: #e5e7eb; */
}
.mejores{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color:#1f2937;
}
.monitos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.monitos-texto{
    display: flex;
    margin-top: 15px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.quote-section{
    height:max-content;
    text-align: center;
    background-color: #e5e7eb;
}
.quote{
    font-weight: lighter;
    font-style: italic;
}
.firma{
    margin-left: 600px;
}

.fourth-section{
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    height: 100px;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.fourth-text{
    display: block;
    margin-bottom: 15px;
}
.fourth-sign{
    display: inline;
    background-color: #3882f6;
    max-width: 200px;
    border-radius: 10px;
    height: 40px;
}

.last-section{
    background-color: #1f2937;
    margin-top: 10px;
    height: 20px;
    padding: 10px;
    text-align: center;
}

